body{
    background-image: url('pictures/CityPicture.jpg');
    background-size: 
    background-repeat: no-repeat;
}
span{
    color:rgb(255, 255, 255)
}
#navbar{
    background-color: rgba(0, 0, 0, 50%);
    width:100%;
    height:40px;
}
.navelement{
    margin: 50px;
    margin-top: 50%;
    color:white;
    text-decoration:none;
}
.maintext{
    color:white;
}