html{
    --color-dark:#27272a;
    --color-light:#fafafa;

    --font-serf: ;
}
body{
    background-image: url('pictures/CityPicture.jpg');
    backdrop-filter: darken;
    background-repeat:no-repeat;
    color:white;
}
span{
    color:rgb(255, 255, 255)
}
.navbar{
    background-color: rgba(0, 0, 0, 50%);
    width:auto;
    height:100px;
    margin-top: -10px;
}
.navelement{
    margin: 55px;
    color:white;
    text-decoration:none;
    font-size:28px;

}
.maintext{
    color:white;
}
.titles{
    margin:20px;
    font-size: 24px;
}