html{
    --color-dark:#27272a;
    --color-light:#fafafa;

    --font-serf: ;
}
body{
    background-image: url('pictures/CityPicture.jpg');
    background-color: #777777;
    background-blend-mode:multiply;
    background-repeat:no-repeat;
    color:white;
}
span{
    color:rgb(255, 255, 255)
}
.navbar{
    background-color: rgba(0, 0, 0, 50%);
    width:auto;
    height:100px;
}
.navelement{
    margin: 50px;
    line-height: 100px;
    color:white;
    text-decoration:none;
    font-size:28px;
    font-family: Helvetica, Arial, sans-serif;

}
.maintext{
    color:white;
}
.titles{
    margin:20px;
    font-size: 36px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.logos{
    width: 25%;
}
#streatfest{
    position:absolute; TOP:200px; LEFT:25px;
}
#dragshow{
    position:absolute; TOP:200px; LEFT:325px;
}
#dragonhacks{
    position:absolute; TOP:200px; LEFT:625px;
}
#whitpain{
    position:absolute; TOP:325px; LEFT:35px;
}
#recruitment{
    position:absolute; TOP:300px; LEFT:625px;
}
#posters{
    position:absolute; top:600px; left: 20px;
}
.posters{
    width:25%;
}